body{
    background-image: url("./photo-of-imac-near-macbook-1029757.jpg");
    background-size: cover;
}
.card{
    margin: 300px;
    background-color: #bec4c0;
}
.card-content{
    margin: auto;
}